* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

/* ===== Header ===== */
.header {
  background: #ef5350; /* đỏ Pokemon */
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
}

.header a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.header a:hover {
  color: #ffeb3b; /* vàng */
}

/* ===== Banner ===== */
.hero {
  height: 60vh;
  background: linear-gradient(
    135deg,
    #ffcb05,  /* vàng Pikachu */
    #3b4cca,  /* xanh Pokemon */
    #ef5350   /* đỏ */
  );
  color: #2a2a2a;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  font-size: 42px;
  font-weight: bold;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.247);
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
}

.hero button {
  margin-top: 25px;
  padding: 12px 26px;
  border: none;
  background: #3b4cca;
  color: white;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: #2a3b8f;
  transform: scale(1.1);
}

/* ===== Nội dung ===== */
.content {
  padding: 40px;
  text-align: center;
  background: #f5f7fa;
}

.content h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #3b4cca;
}

.content button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: #ffcb05;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.content button:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(59,76,202,0.5);
}

/* ===== Footer ===== */
.footer {
  background: #3b4cca;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

/* ===== Navbar button ===== */
#navbar button {
  background-color: #ffcb05;
  color: #2a2a2a;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#navbar button:hover {
  background-color: #f2b807;
}
